@import 'https://fonts.googleapis.com/css?family=Raleway';

html, body
{
    margin: 0px;
}
header, footer
{
    font-family: Raleway;
    margin: 0 auto;
	padding: 0em 0em;
	text-align: center;
} 
.purple{
    color:#fff;
}
*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Exo', sans-serif;
}
.logo_image{
    border-radius: 35%;
    float: left;
}

.context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}
.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}


.area{
    background: linear-gradient(132deg,#640D6B, #E65C19);
    background-size: 400%;
    animation: Gradient 15s ease infinite;
    position: relative;
   /* height: 60vh;
    width: 145vh;
   overflow: none;*/
    scrollbar-width: none;
    padding:0px;
    margin:0px;
    margin-left:0px;  
    width: 100%;
    height:127vh;
}
@keyframes Gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  
.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}
@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

div.container
{
    font-family: Raleway;
    margin: 0 auto;
	padding: 1em 1.4em;
	text-align: right;
}

div.container a
{
    color: #FFF;    
    text-decoration: none;
    font: 20px Raleway;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}
/* Highlight text out  */
div.highlightTextOut a
{
    color: rgba(255, 255, 255, 0.6); 
}

div.highlightTextOut a:before, div.highlightTextIn a:before
{
    position: absolute;
    color: #FFF;
    top: 0px;
    left: 0px;
    padding: 10px;
    overflow: hidden;
    content: attr(alt);
    transition: all 0.3s;
    transform: scale(0.8);
    opacity: 0;
} 

div.highlightTextOut a:hover:before, div.highlightTextIn a:hover:before
{
    transform: scale(1);
    opacity: 1;
}


/*section1*/
.about
{
    height: 500px;
    display: flex;
    justify-content: space-around;
    margin: 80px 0;
    align-items: center;
}
.about_info{
  font-size: 3rem;
  
}
#element{
    font-family: sans-serif;
    font-size: 50px;
    width: 500px;
    border: none;
    color:rgba(6, 103, 240, 0.988);
}
.button_cont  {
  text-align: center;
 }
 #button_link{
  text-decoration: none;
  color: #cdcbd0;
 } 
 .button {
  display: inline-block;
  border-radius: 15px;
  background-color: blueviolet;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 400px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 10px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover span {
      padding-right: 25px;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}

/*section2*/
.info{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 50px;
}
.about_section2{
    font-size: 55px;
    color: #FFF;
    position: relative;
    top:15px;
    text-align: center;
}
.about_img img{
    border-radius: 20px;
    border: 5px solid black;
    margin: 5rem;
}
.about_me{
    font-size: 55px;
    color:deepskyblue;
    position: relative;
    top: 60px;
}

.head_about
{
    position: relative;
    animation: hk 5s linear;
}
@keyframes hk
{
  from{
    left: 800px;
  }
  to{
    left: 0px;
  }
}
.write_aboutme
{
    position: relative;
    top:35px;
    color:white;   
    font-size:25px;
}

/*section3*/
.skill_name{
    font-size: 55px;
    color: #FFF;
    position: relative;
    top:15px;
    text-align: center;
}
.skill_info{
    display: flex;
    justify-content: space-around;
    font-size: 50px;
    color: #FFF;
    position: relative;
    top:70px;
}
.skill_contanier{
    height: 783px;
    width: 625px;
    text-align: center;
}
.skill_profeesinal{
    height: 783px;
    width: 650px;
    text-align: center;
}

.skill_head{
    display: block;
    font-size: 30px;
    text-align: left;
    margin: 8px;
    color: #3EC1D3;
    font-weight: 900;
}
div.container3 {
    font-family: Raleway;
    padding: 5px;
    text-align: right;
    width: 95%;
    background-color: black; 
    border-radius: 50px; 
}
.comman{
    color: white; 
    padding: 1%; 
    text-align: right; 
    font-size: 20px; 
    border-radius: 15px; 
}

.skill { 
    background-color: rgb(116, 194, 92); 
    animation: move 5s linear;
}
@keyframes move{
    from{
       
        width: 0px;
    }
    to{
        width: 90%;
    }
} 
.html { 
    width: 90%; 
}

.skill1{
    background-color: blueviolet;
    animation: css 5s linear;
}
.css { 
    width: 85%; 
}
@keyframes css{
    from{
        
        width: 0px;
    }
    to{
        width:85%;
    }
} 
.skill2{
    background-color: red;
    animation: javascript 5s linear;
} 
.JavaScript { 
    width: 70%; 
}
@keyframes javascript{
    from{
        
        width: 0px;
    }
    to{
        width:70%;
    }
} 
.skill3{
    background-color:blue;
    animation: nodejs 5s linear;
} 
.Nodejs { 
    width: 50%; 
}
@keyframes nodejs{
    from{
        
        width: 0px;
    }
    to{
        width:50%;
    }
} 
.skill4{
    background-color:palevioletred;
    animation: php 5s linear;
} 
.php { 
    width: 66%; 
}
@keyframes php{
    from{
        
        width: 0px;
    }
    to{
        width:66%;
    }
} 
.skill5{
    background-color:yellowgreen;
    animation: react 5s linear;
} 
.react { 
    width: 50%; 
}
@keyframes react{
    from{
        
        width: 0px;
    }
    to{
        width:50%;
    }
} 

.performance{
    font-size: 45px;
    color: #3EC1D3;
    display: flex;
    height: 183px;
    align-items: center;
}

.circle-wrap {
    margin: 30px;
    width: 150px;
    height: 150px;
    background: #fefcff;
    border-radius: 50%;
    font-size: 15px;
    border: 1px solid #cdcbd0;
  }
  
  .circle-wrap .circle .mask,
  .circle-wrap .circle .fill ,
  .circle-wrap .circle .mask1,
  .circle-wrap .circle .fill1 ,
  .circle-wrap .circle .mask2,
  .circle-wrap .circle .fill2,
  .circle-wrap .circle .mask3,
  .circle-wrap .circle .fill3  {
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
  }
  
  .circle-wrap .circle .mask,
  .circle-wrap .circle .mask1,
  .circle-wrap .circle .mask2,
  .circle-wrap .circle .mask3 {
    clip: rect(0px, 150px, 150px, 75px);
  }
  
  .circle-wrap .inside-circle,.circle-wrap .inside-circle1,
  .circle-wrap .inside-circle2,.circle-wrap .inside-circle3 {
    width: 122px;
    height: 122px;
    border-radius: 50%;
    background:black;
    line-height: 120px;
    text-align: center;
    margin-top: 14px;
    margin-left: 14px;
    color:white; /*#1e51dc*/
    position: absolute;
    z-index: 100;
    font-weight: 700;
    font-size: 2em;
  }
  
  .mask .fill {
    clip: rect(0px, 75px, 150px, 0px);
    background-color: #227ded;
  }
  .mask.full,
  .circle .fill{
    animation: fill ease-in-out 3s;
    transform: rotate(137deg);
  }
  @keyframes fill{
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(137deg);
    }
  }
  .mask1 .fill1{
    clip: rect(0px, 75px, 150px, 0px);
    background-color:red;
  }
 
  .mask1.full1,
  .circle .fill1 {
    animation: fills ease-in-out 3s;
    transform: rotate(90deg);
  }
  
  @keyframes fills{
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(90deg);
    }
  }
  .mask2 .fill2{
    clip: rect(0px, 75px, 150px, 0px);
    background-color:yellowgreen;
  }
  .mask2.full2,
  .circle .fill2 {
    animation: skill ease-in-out 3s;
    transform: rotate(110deg);
  }
  
  @keyframes skill{
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(110deg);
    }
  }
  .mask3 .fill3{
    clip: rect(0px, 75px, 150px, 0px);
    background-color:red;
  }
 
  .mask3.full3,
  .circle .fill3 {
    animation: skills ease-in-out 3s;
    transform: rotate(122deg);
  }
  
  @keyframes skills{
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(122deg);
    }
  }
 
.text_color{
    margin: 10px;
}



.head_project{
    font-size: 55px;
    color: #FFF;
    position: relative;
    top: 20px;
    text-align: center;
}
.body_project{
    display: flex;
    justify-content: space-around;
    position: relative;
    height: 823px;
    margin: 15px;
}
.body_project:hover  {
    cursor: pointer;
}
.Project:hover{
  box-shadow: 10px 13px 20px rgb(252, 76, 252),-10px -13px 20px rgb(252, 76, 252);
}
.Project1:hover{
  box-shadow: 10px 13px 20px rgb(252, 76, 252),-10px -13px 20px rgb(252, 76, 252);
}
.Project2:hover{
  box-shadow: 10px 13px 20px rgb(252, 76, 252),-10px -13px 20px rgb(252, 76, 252);
}
.Project {
    position: relative;
    top:100px;
    width:  100%; /* Adjust as needed */
    margin: 20px;
    height: 323px;
  }
  .Project1 {
    position: relative;
    top:210px;
    width:  100%; /* Adjust as needed */
    margin: 20px;
    height: 323px;
  }
  .Project2 {
    position: relative;
    top:350px;
    width:  100%; /* Adjust as needed */
    margin: 20px;
    height: 323px;
  }
  .pro_image {
    display: block;
    width: 100%;
    height: 322px;
    background-color: transparent;
    border-radius: 15px;
    overflow: hidden;
  }
  .layer,.layer1,.layer2{
    position: absolute;
    top: 70%;
    width: 100%;
    height: 30%;
    border-radius: 0px 0px 15px 15px;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(252, 0,0,0.6 );
    transform: translateX(-50%);
    color: white;
    font-size: 24px;
    opacity: 0;
    transition: 0.3s;
}
.Project:hover .layer {
   opacity: 1;
  }  
.Project1:hover .layer1 {
    opacity: 1;
  }  
.Project2:hover .layer2 {
    opacity: 1;
  }  
 
/*section4*/
.row{
display: flex;
align-items: center;
justify-content: space-between;
}


.contact-info {
  width: 50%;
}

.contact-info-item {
  display: flex;
  margin-left: 200px;
  margin-bottom: 40px;
}
.contact_infomation{
  height: 150px;
    text-align: center;
    font-size: 25px;
    color: #3EC1D3;
}
.contact_infomation h4{
  color:#fff;
  font-size: 30px;
}
.contact-info-icon {
  height: 70px;
  width: 70px;
  background-color: #fff;
  text-align: center;
  border-radius: 50%;
}

.contact-info-icon i {
  font-size: 30px;
  line-height: 70px;
}

.contact-info-content {
  margin-left: 20px;
}

.contact-info-content h4 {
  color: #1da9c0;
  font-size: 1.4em;
  margin-bottom: 5px;
}

.contact-info-content p {
  color: #FFF;
  font-size: 1em;
}

.container1 {
  background: linear-gradient(
    to right,
    transparent,
    rgba(222, 184, 135),
    transparent
  );
  padding: 40px;
  position: relative;
  top: 40px;
  margin: 60px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  max-width: 600PX;
  width: 100%;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 65px;
  color:#FFF;
}

.form-group {
  margin-bottom: 25px;
  position: relative;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #fff;
  text-align: left;
  font-size: 25px;
}


input,
textarea {
  width: calc(100% - 20px);
  max-width: calc(100% - 20px);
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

input:focus,
textarea:focus {
  outline: none;
  background-color: #e0e0e0;
}

button {
  background-color: rgb(179, 119, 42);
  color: white;
  padding: 12px 30px;
  font-size: 18px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background: linear-gradient(to right, #e74c4f, rgb(211, 134, 33));
  transition: 1s ease;
}
.hr{
  position: relative;
  top: 40px;
   
}
.footer{
  position: relative;
  top:25px;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 50px;
 color: #cdcbd0;
  margin: 20px;
}
.footer_icon{
  margin:10px;
  display: flex;
  align-items: center;
}
.h6{
  margin: 25px;
}
.footer_name{
  margin: 30px;
    font-size: 25px;
    color: #fff;
    text-align: center;
}
